@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

body {
  @apply bg-zinc-50;
}

#app {
  @apply min-h-screen flex flex-col;
}
